doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous")
  link(rel="stylesheet" href="/public/main.css")
  title DIKK BLOG HEEE
body
  .container-lg
    h1.mb-4 Articles
    a.btn.btn-outline-primary(href="/articles/new") New article
    each article in articles
      .card.mt-4 
        .card-body 
          h4.card-title= article.title
          .card-subtitle.text-muted.mb-2
            =article.createdAt.toLocaleDateString()
          .card-text.mb-2
            =article.description
          a.btn.btn-primary.mr-5(href="articles/"+article.slug) Read More
          a.btn.btn-info.mr-2(href="/articles/edit/"+article.id) Edit          
          form.d-inline(action="/articles/" +article.id+ "?_method=DELETE" method="POST")
            button.btn.btn-danger(type="submit") Delete


  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous")