extends index

block content
  h1.mb-4: =article.title
  .text-muted.mb-2= article.createdAt.toLocaleDateString()

  a.mr-2.btn.btn-secondary(href="/") All Articles
  a.btn.btn-info(href="/articles/edit/"+article.id) Edit

  div !{article.sanitizedHtml}